* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #64748B */

}

body {
    height: 100vh;
    background: radial-gradient(circle at 64% 27%,#261b40, #142332, #07090b);
    /* background-image: linear-gradient(to top, #07090b 0%, #142332 100%); */
    /* background: radial-gradient(circle at 64% 17%,#dadaff, #e2f8ea, #ffffff); */
    background-size: cover;
    background-attachment: fixed;

}

.chris-img {
    width:120px;
    border-radius:100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px 4px;
    margin: 10px 0;
}

.hero-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:left;
    flex-direction: column;
    padding: 0 4vw 19vh;
}

.hero-section h1 {
    font-size: 50px;
    color: #a9c5f0;
}


.typewriter {
    font-size: 25px;
    padding: 0 .1em .6em ;
    font-weight: 600 ;
    color: #cc8efa;
    line-height: 1;
}

.hero-section p, .skills-section p,.Projects-section p, .education-section p, .contact-section p{
    font-size: 19px;
    padding: 5px 0 0 ;
    line-height: 1.23;
    color: #c2c5ca;

}

.hero-intro, h1 {
    text-align: left;
}

.resume-btn {
    display: flex; /* Keep buttons inline and allow flex properties */
    padding: 10px 30px;
    background-color: #0c0b0b;
    color: rgb(212, 214, 215);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underline if buttons are links */
    font-size: 16px;
    margin: 30px 0 0;
    position: relative; /* Important to allow the pseudo-element to work correctly */
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.56) 0px none 70px 4px; /* Regular shadow */
    margin: 2em 0 5em;
}

.resume-btn::before, .form-button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    right: 1px;
    bottom: 2px;
    z-index: -1;
    border-radius: 4px;
    background: linear-gradient(120deg, 
                #6192ec, #5379b5, 
                #7fd3ef, #8ac5e5, 
                #5495c7, #53a1eb); /* Applying gradient to the pseudo-element */
    filter: blur(6px); /* Blurring the gradient to create a shadow-like effect */
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* Hover state with more defined colors */
.resume-btn:hover::before, .form-button:hover::before {
    transform: scale(1.1); /* Slightly scale up the gradient to spread it out more */
    background-color: black;
}






/*Portfolio Section*/ 
.project-card {
    background-color: transparent;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 15px 0 25px;
    padding: 15px 10px 5px;
    border: rgb(106, 108, 117) solid 1px;
    display: flex;
    flex-direction: column;
}



.project{
    display: flex;
    justify-content: center;
    
}

.Algo {
    width: 100%;
    border-radius: 5px;
    
}

.project-card-heading {
    margin:10px 0 0 ;
    color: #cc8efa;
}

.Projects-section p{
    font-size: 16px;
    padding:10px 0;
}

.icon-container {
    display: flex;
    justify-content: end;
}

.icons {
    width: 10%;
    aspect-ratio: 3/2;
} 





/* SKILLS SECTION*/
.skills-section {
    margin: 5em 0 0;
    
}

.skills-section, .Projects-section, .education-section, .footer-section, .contact-section {
    padding:0 5vw 5vh;
}


.skills-section h1, .Projects-section h1, .education-section h1, .contact-section h1 {
    font-size: 45px;
    color: #a9c5f0;
    display: flex;
    justify-content: center;
    padding: .5em 0;
    margin:1em 0 0;

}


.skills-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    padding: 20px 0;

}
.skill-container {
    list-style-type: none;
    padding: 20px;
}


.skill {
    width: 60px;
}


/*education*/

.education-section h2 {
    color: #cc8efa;
    padding: 25px 0 0;
}

.education-section h4 {
    color: #c2c5ca;
}

.education-section p {
    padding: 3px 10px;
    margin: 10px 0;
}

/*footer */ 

.copyright {
    margin: 1em 0 0;
    color: #c2c5ca;
    text-align: center;
    font-weight: 100;
}

.footer-contacts {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contacts {
    width: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: ro;
    padding:0 10px;
    margin: 20px;
}

.footer-section p {
    text-align: center;
    color: #c2c5ca;
    font-size: 13px;
    padding: 15px 10px ;
    margin: 10px 0;

}

/*Contact section*/

.contact-section  {
    text-align: center;
}

.form-container {
    width: 100%;
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

form input {
    padding: 20px 20px;
    margin: 5px;
    border-radius: 2px;
    border: none;
}

.form-button {
    width: 50%;
    align-self: flex-end;
    background-color: #0c0b0b;
    color: rgb(212, 214, 215);
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underline if buttons are links */
    font-size: 16px;
    margin: 30px 0 0;
    position: relative; /* Important to allow the pseudo-element to work correctly */
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.56) 0px none 70px 4px;
}












.skills-section, .scroll-animation {
    opacity: 1 !important;
    transform: translateY(0);
}

.scroll-animation {
    opacity: 0;
    transform: translateX(-100px); /* Slide from the left */
    filter: blur(2px); /* Apply blur effect */
    transition: transform 1s ease-out, opacity 1s ease-out, filter 1s ease-out; /* Duration and easing for the animation */
}

/* State when in view */
.scroll-animation.fade-in {
    opacity: 1;
    transform: translateX(0); /* Slide to the original position */
    filter: blur(0); /* Remove the blur effect */
}