body {
    background-color: #bbcbcb;

}
h1, h2{
    text-align: center;
    font-weight: 900;
    color: #634B66;
}

h3 {
    color: #140716;
    text-align: center;
}

li {
    font-style: italic;
    font-weight: 600;
}

a {
    text-decoration: none ;
    color:rgba(54, 12, 193, 0.996);
    font-weight: 700;
    border: 1px solid black; 
}

img {
    width: 50%;
}